<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="scss/style.scss")
		link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css', rel='stylesheet', type='text/css')
		script(defer src="https://use.fontawesome.com/991e61a5a1.js")
		script(defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js")
		script(defer src="js/main.js")
		title Change ME!

	body
		header
			.wrap.flex
				h1 Just a Template
				nav
					ul.navMain
						li item1
						li item2
						li item3
						li item4
				ul.navSecondary
					li Contact
					li Search

		section.hero
			.wrap.flex
				.hero-content
					h1 Plan 
						span Travel 
					| your next destination
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, perferendis voluptas consequuntur itaque voluptates eos modi commodi earum temporibus sequi veritatis ea dolorem corporis, vel iusto quae molestiae? Nobis, consequatur.
					
					form.hero-form.flex(action="")
						label(name="location") Location
						input(type="text" placeholder="Location")
						input(type="text" placeholder="Type")
						input(type="text" placeholder="date")
						input(type="text" placeholder="date")
					.hero-cta
						i.fas.fa-circle 
						button.btn Learn more.
				img.hero-img(src="https://picsum.photos/450/600?random=", alt="heroImage")

		main
			.wrap.flex
				.counts
					.countCustomer
						h1 14k+
						| Global Customers
					.countTours
						h1 09k+
						| Completed Tours
					.countWorkers
						h1 290k+
						| Experts Workers
				aside
					h2 Some long ass worded title for some paragraph
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus odio quod sint adipisci provident impedit fugit est quibusdam nihil maxime officiis veniam pariatur, id quaerat molestias magnam aliquam commodi blanditiis!
					button.btn Learn More 
		
		section.choose
			.wrap.flex
					h2 Choose your 
						span Destination
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum impedit nobis ab necessitatibus dicta neque, sequi, provident laboriosam aut enim voluptatibus magnam, voluptatem sunt distinctio dolore dolores? Sed, culpa beatae!
			.wrap.flex
						.box
							img.img(src="https://picsum.photos/250/350?random=2", alt="")
						.box
							img.img(src="https://picsum.photos/250/350?random=3", alt="")
						.box
							img.img(src="https://picsum.photos/250/350?random=4", alt="")
						.box
							img.img(src="https://picsum.photos/250/350?random=5", alt="")
		section.experts
			.wrap
				h2 We are the experts for 
					span Traveling
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quo cumque ipsam quaerat natus iste ea nobis recusandae illum voluptatibus officiis animi sit ratione necessitatibus nemo, veniam officia, qui illo.
				img(src="https://picsum.photos/800/400?random=6", alt="video Traveling Expert")

		section.testimonials
			.wrap
				h2 Our happy Clients
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, vel doloribus, iure.
			.wrap.flex
				img.img-client(src="https://picsum.photos/250/350?random=7", alt="")
				.clientReview
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel obcaecati maiores praesentium aut repellendus reprehenderit iure vitae rem nihil beatae consequuntur sit a culpa, nostrum odio dolorem omnis illum ipsa?
					b John Dope
					br 
					i Hometown, MT

		section.explore
			.wrap.flex
				.explore-content
					h2 Explore the most beautiful place is South Eastern Montana
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. At ipsum ab ullam dolore consectetur cum culpa quisquam accusamus adipisci doloremque? Labore dolorum quibusdam dolor vitae necessitatibus, aut quas impedit soluta?
					button.btn Explore Gallery
			.grid
				-let gridImg = 8
				while gridImg >= 0
					img.img(src="https://picsum.photos/600/400?random=", alt="")
					-gridImg--